.RTFE {
    width: 100%;
    height: 100%;
}

.quill {
    border-color: #aaa;
}

.ql-container {
    min-height: 10em;
    height: 90%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #fefcfc;
}

.ql-toolbar {
    background: #eaecec;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}