
.SocketEditor {
    width: 100%;
    height: 100%;
}

.SocketEditor-toolbar {
    width: calc(100% - 2px);
    height: 55px;
    border: solid 1px #ccc;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #eaecec;
    overflow: visible;
}

.SocketEditor-select {
    float:left;
    clear: none;
    margin-top: 10px;
    min-width: 150px;
}

.SocketEditor-toolbar-label {
    float:left;
    clear: none;
    margin: 16px 8px 16px 16px;
}

.SocketEditor-textbox {
    width: 100%;
    height: calc(100% - 55px);
    resize: none;
    border: solid 1px #ccc;
    border-top: none;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.quill {
    border-color: #aaa;
}

.ql-container {
    height: auto;
    min-height: 10em;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #fefcfc;
}

.ql-toolbar {
    background: #eaecec;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.ql-multi-cursor {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.ql-cursor {
    margin-left: -1px;
    position: absolute;
}

.ql-cursor-flag {
    bottom: 100%;
    position: absolute;
    white-space: nowrap;
}

.ql-cursor-name {
    display: inline-block;
    color: white;
    padding: 2px 8px;
}

.ql-cursor-caret {
    height: 100%;
    position: absolute;
    width: 2px;
}

.ql-cursor .ql-hidden .ql-cursor-flag {
    display: none;
}

.ql-cursor .ql-top .ql-cursor-flag {
    bottom: auto;
    top: 100%;
}

.ql-cursor .ql-right .ql-cursor-flag {
    right: -2px;
}