@import url('./Button.css');

html, body {
    width:  100%;
    height: 100%;
    margin: 0;
}

.EA {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.EA-head {
    flex: 0 1 auto;
    background-color: #222;
    width: 100%;
    position: relative;
}

.EA-head-logo {
    float: left;
    overflow: auto;
    width: 10%;
}

.EA-head-logo-image {
    height: 40px;
    margin-top: 4px;
    float: left;
}

.EA-head-logo-text {
    margin-left: 5px;
    color: white;
}

.EA-head-title {
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: 10%;
}

.EA-head-end {
    float: right;
    width: 10%;
}

.EA-body {
    flex: 1 1 auto;
    clear: both;
    position: relative;
    background-color: #e6e6e6;
    height: auto;
}

.EA-body-editor {
    width: 100%;
    height: 100%;
}
.EA-body-editor-textbox {
    width: 100%;
    height: 100%;
}

.EA-body-sidebar {

}