@import url("Button.css");
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.ErrorBox-outer {
    /*font-family: 'Noto Sans', sans-serif;*/
    position: absolute;
    left: 50%;
}

.ErrorBox-inner {
    clear: both;
    margin: 16px auto;
    background-color: rgba(255, 0, 0, 0.5);
    overflow: auto;
    border-radius: 8px;
    color: white;
    position: relative;
    left: -50%;
}

.ErrorBox-sadface {
    float: left;
    font-size: 60px;
    margin: 13px 20px;
}

.ErrorBox-content {
    float: left;
    margin: 20px 20px 20px auto;
}

.ErrorBox-title {
    text-align: left;
    margin: auto;
    font-size: x-large;
}

.ErrorBox-text {
    text-align: left;
    font-size: large;
    margin: auto;
    margin-top: 15px;
}